.artist-info {
  width: 350px;
  height: 550px;
  background-color: lightblue;
  margin-bottom: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.artist-info img {
  width: 300px;
  height: 300px;
}

.artist-info h2, .artist-info p {
  margin: 5px 0;
}

.explore-button {
  background-color: black;
  color: white;
  border: none;
  padding: 8px 16px;
  margin-top: 10px;
  cursor: pointer;
}