<form (ngSubmit)="onContact()">
    <div class="form-style">
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name" [(ngModel)]="name" placeholder="Name" />
    </div>
    <div class="form-style">
        <label for="email">Email Address:</label><br>
        <input type="text" id="email" name="email" [(ngModel)]="email" placeholder="Email Address" />
    </div>
    <div class="message-box">
        <label for="message">Message:</label><br>
        <input type="text" id="message" name="message" [(ngModel)]="message" />
    </div>
    <input class="btn" type="submit" value="Send"/>
</form>
