<section class="art">
    <div class="art-content">
        <h1>DISCOVER ART</h1>
        <button routerLink="/explore">Explore</button>
    </div>
</section>


<div class="homepage-container">
    <div class="artist-container">
        <app-display-artist [artist]="artists[0]"></app-display-artist>
        <app-display-artist [artist]="artists[1]"></app-display-artist>
        <app-display-artist [artist]="artists[2]"></app-display-artist>
    </div>
</div>

<!-- <div class="display-artists">
    <app-display-artist [artist]="artists[0]"></app-display-artist>
    <app-display-artist [artist]="artists[1]"></app-display-artist>
    <app-display-artist [artist]="artists[2]"></app-display-artist>
</div> -->

<!-- <app-display-artist
    *ngFor="let artist of artists"
    [artist]="artist"
></app-display-artist> -->
