// TOP HEADER SECTION OF PAGE

.art {
  background-image: url("../../../assets/home-page-header.png");
  background-size: cover;
  background-position: center;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.art img {
  position: absolute;
  top: 100px;
  left: 20px;
}

.art-content {
  text-align: center;
  color: white;
}

.art-content h1 {
  font-size: 100px;
}

.art-content button {
  padding: 12px 24px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 4px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

// MIDDLE OF PAGE

.featured {
  text-align: center;
  margin-top: 60px;
}

.container {
  display: flex;
  justify-content: center;
  padding: 30px;
}

app-display-artist {
  padding: 10px;
}

// BOTTOM OF PAGE

.rectangle {
  width: 100%;
  height: 350px;
  background-color: gold;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
}

.newsletter-button {
  justify-content: center;
  background-color: black;
  color: white;
  border: none;
  padding: 30px 60px;
  border-radius: 10px;
  font-size: 25px;
  margin-top: 150px;
  cursor: pointer;
}

.contact-link {

  color: black;
  text-decoration: underline;
  margin-top: 85px;
}