.art {
  background-image: url("../../../assets/home-page-header.png");
  background-size: cover;
  background-position: center;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.art-content {
  text-align: center;
  color: white;
}

.art-content h1 {
  font-size: 100px;
}

.art-content button {
  padding: 12px 24px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 4px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.homepage-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 600px); /* Adjust as needed to fit your layout */
  margin: 20px 0;
  .artist-container {
    display: flex;
    gap: 20px; /* Adjust space between components */
    display-artist {
      flex: 1;
      background-color: aqua;
      text-align: center;
      padding: 20px;
      border-radius: 8px;
      height: 600px;
      flex-direction: column;
      justify-content: space-between;
      height: 800px;
    }
  }
}
