.add-form {
  margin-bottom: 50px;
  margin-top: 50px;
}

.container {
  display: flex;
  margin-bottom: 50px;
  margin-top: 50px;
}

.photo-grid {
  column-count: 4;
  column-gap: 10px;
}

.photo-grid div {
  break-inside: avoid;
  margin-bottom: 10px;
  border-color: black;
  border: 1px solid black;
  padding: 2%;


}

.photo-grid img {
    width: 50%;
    cursor: pointer;
}

.photo-grid img:hover {
  opacity: 0.5;
}